body {
    font-family: 'Helvetica Neue';
}

.header {
    height: 45px;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 2px 2px 0px #ededed;
}

.header .title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.header .backButton {
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
}