<div class="header">
    <div class="title">
        7news
    </div>
    <a [hidden]="!backButtonActive" class="backButton" (click)="backClicked()">
        Back
    </a>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>